:root {
  color-scheme: light;

  --gv-spec-base-background: #fff;
  --gv-spec-raised-background: #fff;
  --gv-spec-menu-background: #fff;
  --gv-spec-inverted-background: #0f0f0f;
  --gv-spec-additive-background: rgba(0, 0, 0, 0.05);
  --gv-spec-outline: rgba(0, 0, 0, 0.1);
  --gv-spec-shadow: rgba(0, 0, 0, 0.25);
  --gv-spec-text-primary: #030303;
  --gv-spec-text-primary-inverse: #fff;
  --gv-spec-text-secondary: #606060;
  --gv-spec-text-disabled: #909090;
  --gv-spec-call-to-action: #065fd4;
  --gv-spec-call-to-action-inverse: #3ea6ff;
  --gv-spec-suggested-action: #def1ff;
  --gv-spec-suggested-action-inverse: #263850;
  --gv-spec-icon-active-other: #606060;
  --gv-spec-icon-inactive: #909090;
  --gv-spec-icon-disabled: #ccc;
  --gv-spec-button-chip-background-hover: rgba(0, 0, 0, 0.1);
  --gv-spec-touch-response: #000;
  --gv-spec-touch-response-inverse: #fff;
  --gv-spec-brand-icon-active: #f00;
  --gv-spec-brand-icon-inactive: #606060;
  --gv-spec-brand-button-background: #c00;
  --gv-spec-brand-link-text: #c00;
  --gv-spec-wordmark-text: #212121;
  --gv-spec-error-indicator: #990412;
  --gv-spec-themed-blue: #065fd4;
  --gv-spec-themed-green: #107516;
  --gv-spec-ad-indicator: #00716c;
  --gv-spec-themed-overlay-background: rgba(255, 255, 255, 0.7);
  --gv-spec-commerce-badge-background: #deffde;
  --gv-spec-static-brand-red: #f00;
  --gv-spec-static-brand-white: #fff;
  --gv-spec-static-brand-black: #212121;
  --gv-spec-static-clear-color: rgba(255, 255, 255, 0);
  --gv-spec-static-clear-black: rgba(0, 0, 0, 0);
  --gv-spec-static-ad-yellow: #fbc02d;
  --gv-spec-static-grey: #606060;
  --gv-spec-static-overlay-background-solid: #000;
  --gv-spec-static-overlay-background-heavy: rgba(0, 0, 0, 0.8);
  --gv-spec-static-overlay-background-medium: rgba(0, 0, 0, 0.6);
  --gv-spec-static-overlay-background-medium-light: rgba(0, 0, 0, 0.3);
  --gv-spec-static-overlay-background-light: rgba(0, 0, 0, 0.1);
  --gv-spec-static-overlay-text-primary: #fff;
  --gv-spec-static-overlay-text-secondary: rgba(255, 255, 255, 0.7);
  --gv-spec-static-overlay-text-disabled: rgba(255, 255, 255, 0.3);
  --gv-spec-static-overlay-call-to-action: #3ea6ff;
  --gv-spec-static-overlay-icon-active-other: #fff;
  --gv-spec-static-overlay-icon-inactive: rgba(255, 255, 255, 0.7);
  --gv-spec-static-overlay-icon-disabled: rgba(255, 255, 255, 0.3);
  --gv-spec-static-overlay-button-secondary: rgba(255, 255, 255, 0.1);
  --gv-spec-static-overlay-button-primary: rgba(255, 255, 255, 0.3);
  --gv-spec-static-overlay-touch-response: #fff;
  --gv-spec-static-overlay-touch-response-inverse: #000;
  --gv-spec-static-overlay-background-brand: rgba(204, 0, 0, 0.9);
  --gv-spec-assistive-feed-vibrant-gradient-1: #007a65;
  --gv-spec-assistive-feed-vibrant-gradient-2: #7f0e7f;
  --gv-spec-assistive-feed-vibrant-gradient-3: #ff8983;
  --gv-spec-assistive-feed-themed-gradient-1: #d4fff8;
  --gv-spec-assistive-feed-themed-gradient-2: #ffdeff;
  --gv-spec-assistive-feed-themed-gradient-3: #ffe6e6;
  --gv-spec-brand-background-solid: #fff;
  --gv-spec-brand-background-primary: rgba(255, 255, 255, 0.98);
  --gv-spec-brand-background-secondary: rgba(255, 255, 255, 0.95);
  --gv-spec-general-background-a: #f9f9f9;
  --gv-spec-general-background-b: #f1f1f1;
  --gv-spec-general-background-c: #e9e9e9;
  --gv-spec-error-background: #181818;
  --gv-spec-10-percent-layer: rgba(0, 0, 0, 0.1);
  --gv-spec-snackbar-background: #212121;
  --gv-spec-snackbar-background-updated: #181818;
  --gv-spec-badge-chip-background: rgba(0, 0, 0, 0.05);
  --gv-spec-verified-badge-background: rgba(0, 0, 0, 0.15);
  --gv-spec-call-to-action-faded: rgba(6, 95, 212, 0.3);
  --gv-spec-call-to-action-hover: #0551b4;
  --gv-spec-brand-button-background-hover: #990412;
  --gv-spec-brand-link-text-faded: rgba(204, 0, 0, 0.3);
  --gv-spec-filled-button-focus-outline: rgba(0, 0, 0, 0.6);
  --gv-spec-static-overlay-button-hover: rgba(255, 255, 255, 0.5);
  --gv-spec-mono-filled-hover: #272727;
  --gv-spec-commerce-filled-hover: #0556bf;
  --gv-spec-mono-tonal-hover: rgba(0, 0, 0, 0.1);
  --gv-spec-commerce-tonal-hover: #dadfe6;
  --gv-spec-static-overlay-filled-hover: #e6e6e6;
  --gv-spec-static-overlay-tonal-hover: rgba(255, 255, 255, 0.2);
  --gv-spec-filled-button-text: #fff;
  --gv-spec-paper-tab-ink: rgba(0, 0, 0, 0.3);
  --gv-spec-selected-nav-text: #c00;
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --gv-spec-white-1: #fff;
  --gv-spec-white-2: #f9f9f9;
  --gv-spec-white-3: #f1f1f1;
  --gv-spec-white-4: #e9e9e9;
  --gv-spec-black-1: #282828;
  --gv-spec-black-2: #1f1f1f;
  --gv-spec-black-3: #161616;
  --gv-spec-black-4: #0d0d0d;
  --gv-spec-black-pure: #000;
  --gv-spec-grey-1: #ccc;
  --gv-spec-grey-2: #aaa;
  --gv-spec-grey-3: #909090;
  --gv-spec-grey-4: #717171;
  --gv-spec-grey-5: #606060;
  --gv-brand-youtube-red: #f00;
  --gv-brand-medium-red: #c00;
  --gv-brand-light-red: #ff4e45;
  --gv-spec-red-30: #ff8983;
  --gv-spec-red-70: #990412;
  --gv-spec-pale-blue: #f2f8ff;
  --gv-spec-light-blue: #3ea6ff;
  --gv-spec-dark-blue: #065fd4;
  --gv-spec-navy-blue: #252a3a;
  --gv-spec-light-green: #2ba640;
  --gv-spec-dark-green: #107516;
  --gv-spec-yellow: #fbc02d;
  --gv-spec-black-pure-alpha-5: rgba(0, 0, 0, 0.05);
  --gv-spec-black-pure-alpha-10: rgba(0, 0, 0, 0.1);
  --gv-spec-black-pure-alpha-15: rgba(0, 0, 0, 0.15);
  --gv-spec-black-pure-alpha-30: rgba(0, 0, 0, 0.3);
  --gv-spec-black-pure-alpha-60: rgba(0, 0, 0, 0.6);
  --gv-spec-black-pure-alpha-80: rgba(0, 0, 0, 0.8);
  --gv-spec-black-1-alpha-98: rgba(40, 40, 40, 0.98);
  --gv-spec-black-1-alpha-95: rgba(40, 40, 40, 0.95);
  --gv-spec-white-1-alpha-10: rgba(255, 255, 255, 0.1);
  --gv-spec-white-1-alpha-20: rgba(255, 255, 255, 0.2);
  --gv-spec-white-1-alpha-25: rgba(255, 255, 255, 0.25);
  --gv-spec-white-1-alpha-30: rgba(255, 255, 255, 0.3);
  --gv-spec-white-1-alpha-70: rgba(255, 255, 255, 0.7);
  --gv-spec-white-1-alpha-95: rgba(255, 255, 255, 0.95);
  --gv-spec-white-1-alpha-98: rgba(255, 255, 255, 0.98);
  --gv-brand-medium-red-alpha-90: rgba(204, 0, 0, 0.9);
  --gv-brand-medium-red-alpha-30: rgba(204, 0, 0, 0.3);
  --gv-brand-light-red-alpha-30: rgba(255, 78, 69, 0.3);
  --gv-spec-light-blue-alpha-30: rgba(62, 166, 255, 0.3);
  --gv-spec-dark-blue-alpha-30: rgba(6, 95, 212, 0.3);
}
